<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="content">
    <div class="flexbox oneline">
      <div class="container flexbox">
        <!--h1 class="logo">Calculei</h1-->
        <img
          width="120"
          alt="Calculei"
          src="/assets/svgs/logo-calculei-colorido.svg"
        />
      </div>
      <div class="orientacoes">
        <a (click)="openDialog()">
          Orientações
          <img
            width="25"
            alt="Ajuda"
            src="/assets/svgs/help_outline_black_36dp.svg"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
</div>
