/*
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
.mat-card {
  width: 100%;
}

.content {
  display: flex;
  margin: 82px auto 32px;

  max-width: 100%;
  flex-direction: column;
  align-items: center;
}
.divTop {
  margin-top: 2%;
}
.lancamentos {
  z-index: 1;
}
label {
  //width:180px;
  margin-top: 5%;
  clear: left;
  text-align: right;
  padding-right: 10px;
  display: flex;
}

input,
label {
  //float:left;
}


.footerBold {
  flex: 0 10px 0;
  color: black;
  font-weight: bolder;
  //margin-left: 70px;
}

.ui-overlaypanel {
  position: absolute;
  width: 400px;
  z-index: 1008;
  visibility: visible;
  top: 30%;
  left: 324.906px;
  background-color: #fbfcfd;
  //-webkit-box-shadow: 2px 0px 4px 0px rgb(0 0 0 / 100%) !important;
  box-shadow: 2px 0px 4px 0px rgb(0 0 0 / 30%) !important;
  .header {
    background-color: #fbfcfd;
    color: #778d9b;
    padding: 5px;
    .separator {
      border: 0px;
      border-bottom: solid 1px #eaeaea;
      border-bottom-width: 1px;
      border-bottom-right-radius: 2px;
      background-color: #fbfcfd;
    }
  }

  .contente {
    margin: 10px auto 10px;
    background-color: #fbfcfd;
    padding: 20px !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }

  .close {
    position: absolute;
    top: -10px;
    right: -10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
}
hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px !important;
}
.coluna {
  width: 20px;
}

.mat-column-select {
  flex: 0 0 50px;
}
.mat-column-position {
  flex: 0 0 50px;
}
.mat-column-name {
  flex: 0 0 45%;
}
.mat-column-weight {
  flex: 0 0 50%;
}
.mat-column-dias {
  margin-left: 20px;
}

*/

::ng-deep .mat-slide-toggle.mat-warn.mat-checked .mat-slide-toggle-thumb {
  background-color: #702826;
}
::ng-deep .mat-flat-button.mat-warn,
.mat-raised-button.mat-warn,
.mat-fab.mat-warn,
.mat-mini-fab.mat-warn {
  background-color: #702826;
}
::ng-deep ::ng-deep .mat-flat-button.mat-primary.mat-button-disabled,
.mat-flat-button.mat-warn.mat-button-disabled,
.mat-flat-button.mat-button-disabled.mat-button-disabled,
.mat-raised-button.mat-warn.mat-button-disabled,
.mat-raised-button.mat-button-disabled.mat-button-disabled,
.mat-fab.mat-warn.mat-button-disabled,
.mat-fab.mat-button-disabled.mat-button-disabled,
.mat-mini-fab.mat-warn.mat-button-disabled,
.mat-mini-fab.mat-button-disabled.mat-button-disabled {
  color: #fff;
  background-color: #7028268f !important;
}

.mat-select-big-width {
  mat-select {
    width: fit-content !important;
    min-width: 100%;
  }

  ::ng-deep .mat-form-field-infix {
    min-width: 75px !important;
    width: fit-content !important;
  }

  ::ng-deep mat-select .mat-select-value {
    width: fit-content;
    min-width: 400px;
    max-width: 25ch;
  }

  ::ng-deep mat-select .mat-select-panel {
    min-width: 300px;
  }

  ::ng-deep mat-select .mat-select-placeholder {
    width: fit-content;
    min-width: 10ch;
  }
}

.flexbox {
  display: flex;
}
.flexbox > div {
  margin-right: 2vw;
}
label {
  display: flex;
}
.container {
  margin-bottom: 3vh;
}
.width-fit-content {
  width: fit-content;
}
.scrolling {
  max-height: 380px;
  overflow-y: auto;
}
mat-card {
  margin-bottom: 2vh;
}
.print-only {
  display: none;
}
.iconDeleteTab {
  cursor: pointer;
}

@media print {
  .no-print {
    display: none;
  }

  .print-only {
    display: block;
  }
}
