::ng-deep .mat-slide-toggle.mat-warn.mat-checked .mat-slide-toggle-thumb {
  background-color: #702826;
}
::ng-deep .mat-flat-button.mat-warn,
.mat-raised-button.mat-warn,
.mat-fab.mat-warn,
.mat-mini-fab.mat-warn {
  background-color: #702826;
}
::ng-deep ::ng-deep .mat-flat-button.mat-primary.mat-button-disabled,
.mat-flat-button.mat-warn.mat-button-disabled,
.mat-flat-button.mat-button-disabled.mat-button-disabled,
.mat-raised-button.mat-warn.mat-button-disabled,
.mat-raised-button.mat-button-disabled.mat-button-disabled,
.mat-fab.mat-warn.mat-button-disabled,
.mat-fab.mat-button-disabled.mat-button-disabled,
.mat-mini-fab.mat-warn.mat-button-disabled,
.mat-mini-fab.mat-button-disabled.mat-button-disabled {
  color: #fff;
  background-color: #7028268f !important;
}

.mat-select-big-width {
  mat-select {
    width: fit-content !important;
    min-width: 100%;
  }

  ::ng-deep .mat-form-field-infix {
    min-width: 75px !important;
    width: fit-content !important;
  }

  ::ng-deep mat-select .mat-select-value {
    width: fit-content;
    min-width: 400px;
    max-width: 25ch;
  }

  ::ng-deep mat-select .mat-select-panel {
    min-width: 300px;
  }

  ::ng-deep mat-select .mat-select-placeholder {
    width: fit-content;
    min-width: 10ch;
  }
}

.flexbox {
  display: flex;
}
.flexbox > div {
  margin-right: 2vw;
}
label {
  display: flex;
}
.container {
  margin-bottom: 3vh;
}
.width-fit-content {
  width: fit-content;
}
.scrolling {
  max-height: 380px;
  overflow-y: auto;
}
mat-card,
mat-table {
  margin-bottom: 2vh;
}
.print-only {
  display: none;
}
.iconDeleteTab {
  cursor: pointer;
}
.footerBold {
  font-weight: 700;
}
#pdfTable th.mat-header-cell {
  text-align: center;
  vertical-align: middle;
}
@media print {
  .no-print {
    display: none;
  }

  .print-only {
    display: block;
  }
}
