::ng-deep .mat-slide-toggle.mat-warn.mat-checked .mat-slide-toggle-thumb {
  background-color: #5b95f3;
}

::ng-deep .mat-slide-toggle.mat-warn.mat-checked .mat-slide-toggle-bar {
  background-color: #5b95f3;
}

::ng-deep .mat-slide-toggle.mat-warn.mat-checked .mat-slide-toggle-thumb {
  background-color: #ffffff;
}

::ng-deep .mat-slide-toggle-bar {
  height: 25px !important;
  width: 40px !important;
  border-radius: 12px !important;
}
::ng-deep .mat-slide-toggle-thumb-container {
  top: 2.5px !important;
  left: 2px !important;
}

::ng-deep .mat-slide-toggle.mat-disabled .mat-slide-toggle-label,
.mat-disabled .mat-slide-toggle-thumb-container {
  cursor: not-allowed !important;
}
::ng-deep .mat-disabled .mat-slide-toggle-thumb-container {
  cursor: not-allowed !important;
}

::ng-deep .mat-flat-button.mat-warn,
.mat-raised-button.mat-warn,
.mat-fab.mat-warn,
.mat-mini-fab.mat-warn {
  background-color: #702826;
}

::ng-deep .mat-flat-button.mat-primary.mat-button-disabled,
.mat-flat-button.mat-warn.mat-button-disabled,
.mat-flat-button.mat-button-disabled.mat-button-disabled,
.mat-raised-button.mat-warn.mat-button-disabled,
.mat-raised-button.mat-button-disabled.mat-button-disabled,
.mat-fab.mat-warn.mat-button-disabled,
.mat-fab.mat-button-disabled.mat-button-disabled,
.mat-mini-fab.mat-warn.mat-button-disabled,
.mat-mini-fab.mat-button-disabled.mat-button-disabled {
  color: #b2b2b2;
  background-color: #dbdbdb !important;
  cursor: not-allowed;
}

::ng-deep .mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
  color: #5573a9;
}

::ng-deep .mat-stroked-button:not(.mat-button-disabled) {
  border-color: #5573a9;
}

.btn-calc {
  color: #fff;
  background-color: #5573a9 !important;
}

.btn-calc {
  width: 85%;
  height: 53px;
  border-radius: 4px 0px 0px 4px;
}

.btn-cancel {

}

.btn-cancel {
  width: 15%;
  height: 53px;
  border-radius: 0px 4px 4px 0px;

}

::ng-deep .mat-form-field-outline {
  color: #6d8bbf !important;
}
::ng-deep .mat-form-field-invalid .mat-form-field-outline,
::ng-deep .mat-form-field .mat-select.mat-select-invalid .mat-select-arrow {
  color: #f58400 !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start,
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-gap,
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0px !important;
}

.align-self-center {
  align-self: center;
}

.mat-select-big-width {
  mat-select {
    width: fit-content !important;
    min-width: 100%;
  }

  ::ng-deep .mat-form-field-infix {
    min-width: 75px !important;
    width: fit-content !important;
  }

  ::ng-deep mat-select .mat-select-value {
    width: fit-content;
    min-width: 400px;
    max-width: 25ch;
  }

  ::ng-deep mat-select .mat-select-panel {
    min-width: 300px;
  }

  ::ng-deep mat-select .mat-select-placeholder {
    width: fit-content;
    min-width: 10ch;
  }
}

.mat-input-big-width {
  mat-form-field {
    width: 100% !important;
  }
  mat-form-field-infix {
    width: 100% !important;
  }
}

.flexbox {
  display: flex;
}
.flexbox > div {
  margin-right: 2vw;
}
label {
  display: flex;
}
.container {
  margin-bottom: 3vh;
}
.width-fit-content {
  width: fit-content;
}
mat-card-subtitle {
  margin: auto;
  font: normal normal medium 20px/24px Roboto-Medium;
  letter-spacing: 0.15px;
  color: #252c33;
}
.scrolling {
  max-height: 310px;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}
mat-card,
mat-table {
  margin-bottom: 2vh;
}

.table-bordered tr:nth-child(even){background-color: #f2f2f2;}
.table-bordered thead th, .table-bordered thead tr {background-color: #dde7fb;}

#Report {
  .mat-header-row {
    background-color: #dde7fb;
  }

  .mat-header-cell:nth-child(1),
  .mat-cell:nth-child(1),
  .mat-footer-cell:nth-child(1) {
    flex: 0 0 10%;
    word-wrap: break-word;
    text-align: left;
    justify-content: flex-start;
    min-width: min-content;
    margin-right: 10px;
  }

  /*datas - indices*/
  .mat-header-cell:nth-child(2),
  .mat-cell:nth-child(2),
  .mat-footer-cell:nth-child(2),
  .mat-header-cell:nth-child(4),
  .mat-cell:nth-child(4),
  .mat-footer-cell:nth-child(4),
  .mat-header-cell:nth-child(5),
  .mat-cell:nth-child(5),
  .mat-footer-cell:nth-child(5) {
    flex: 0 0 8%;
    word-wrap: break-word;
  }

  /*Dias*/
  .mat-header-cell:nth-child(7),
  .mat-cell:nth-child(7),
  .mat-footer-cell:nth-child(7) {
    flex: 0 0 6%;
    text-align: right;
    justify-content: flex-end;
  }
  /*Icones - editar, replicar, excluir*/

  .mat-header-cell:nth-child(10),
  .mat-cell:nth-child(10),
  .mat-footer-cell:nth-child(10) {
    flex: 0 0 7%;
    text-align: right;
    justify-content: flex-end;
  }  
  /*valores*/
  .mat-header-cell:nth-child(3),
  .mat-cell:nth-child(3),
  .mat-footer-cell:nth-child(3),
  .mat-header-cell:nth-child(6),
  .mat-cell:nth-child(6),
  .mat-footer-cell:nth-child(6),
  .mat-header-cell:nth-child(8),
  .mat-cell:nth-child(8),
  .mat-footer-cell:nth-child(8),
  .mat-header-cell:nth-child(9),
  .mat-cell:nth-child(9),
  .mat-footer-cell:nth-child(9) {
    flex: 0 0 12%;
    text-align: right;
    justify-content: flex-end;
    margin-right: 15px;
    margin-left: auto;
  }
  .mat-cell:nth-child(3),
  .mat-cell:nth-child(6),
  .mat-cell:nth-child(8),
  .mat-cell:nth-child(9) {
    font-size: 85%;
  }
  .mat-footer-cell:nth-child(3),
  .mat-footer-cell:nth-child(6),
  .mat-footer-cell:nth-child(8),
  .mat-footer-cell:nth-child(9) {
    overflow: visible;
  }

  .mat-column-noData {
    flex: 0 0 100% !important;
    position: absolute;
  }
}
.print-only {
  display: none;
}
.iconDeleteTab,
.iconClone {
  cursor: pointer;
  width: 15px;
}
.iconClone {
  margin-right: 2px;
}
.footerBold {
  font-weight: 700;
}
#pdfTable th.mat-header-cell {
  text-align: center;
  vertical-align: middle;
}
@media print {
  .no-print {
    display: none;
  }

  .print-only {
    display: block;
  }
}
